<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>680555886355-nsg6j1455v0pui3e4dgfselga07cqb2r.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.680555886355-nsg6j1455v0pui3e4dgfselga07cqb2r</string>
	<key>API_KEY</key>
	<string>AIzaSyANS2QmX3oNw0TokG6SfEp0fCZIvtt6b8k</string>
	<key>GCM_SENDER_ID</key>
	<string>680555886355</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.iamishansharma.CovermyIndia</string>
	<key>PROJECT_ID</key>
	<string>covermyindia</string>
	<key>STORAGE_BUCKET</key>
	<string>covermyindia.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:680555886355:ios:7437f9f9bb950db9c60ce6</string>
	<key>DATABASE_URL</key>
	<string>https://covermyindia.firebaseio.com</string>
</dict>
</plist>